.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bckg-primary);
  opacity: 0.95;
  z-index: 1;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.hero__desktop,
.hero__mobile {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__desktop {
  display: none;
}

.hero__mobile {
  display: block;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 340px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px 50px;
  z-index: 1;
}

.hero__copy,
.hero__title {
  color: var(--text-white);
}

.hero__copy {
  flex: 1;
}

@media only screen and (min-width: 480px) {
  .hero__wrapper {
    display: grid;
    place-content: center;
  }

  .hero {
    height: 600px;
  }
  .hero__desktop {
    display: block;
  }
  .hero__mobile {
    display: none;
  }
  .hero__container {
    max-width: 1000px;
    padding: 0 20px;
  }
}

/* Treatments */
.treatments__wrapper {
  padding: 50px 20px;
  background-color: var(--bckg-white);
}

.treatments__title {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.treatments__title h2 {
  color: var(--text-primary);
  font-weight: 400;
  padding: 0 0 30px;
}

.treatments__container {
  width: 100%;
}

.treatments__grid {
  display: grid;
  row-gap: 30px;
  padding-bottom: 40px;
}

.treatments__item {
  text-align: center;
}

.treatments__img {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 140px 30px 73px 30px;
  box-shadow: 8px 6px 25px -3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.treatments__item-link {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px 20px;
  color: var(--text-white);
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--bckg-secondary);
}

.treatments__text {
  padding: 0 35px;
}

.treatments__cta {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .treatments__wrapper {
    padding: 50px 0;
  }

  .treatments__title {
    max-width: 890px;
    padding: 0 20px 50px;
  }

  .treatments__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .treatments__grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  .treatments__img {
    margin-bottom: 30px;
    border-radius: 140px 30px 73px 30px;
  }
}

/* Slick Happy */
.slick-primary {
  background-color: var(--bckg-white);
}

.slick-primary__wrapper {
  padding: 0 20px;
}

.slick-primary__heading {
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid var(--color-base);
}

.slick-primary__heading h2 {
  color: var(--text-primary);
  font-weight: 500;
}

.slick-primary__container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: var(--bckg-white-10);
  border-radius: 20px;
}

.slick-primary__item {
  display: grid;
  row-gap: 20px;
}

.slick-primary__thumbnail {
  padding: 15px;
}

.slick-primary__box {
  box-shadow: 0px 2px 10px 3px #cccccc;
  border-radius: 30px;
  overflow: hidden;
}

.slick-primary__box figure {
  padding: 15px;
}

.slick-primary__box figure img {
  border-radius: 20px;
}

.slick-primary__title {
  padding: 0 20px 15px;
  text-align: center;
  color: var(--text-secondary);
  font-weight: 500;
}

.slick-primary__content {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  width: 50px;
  border: 0;
  transform: translate(0, -50%);
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.slick-prev svg,
.slick-next svg {
  fill: var(--color-secondary);
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

@media only screen and (min-width: 1024px) {
  .slick-primary__heading {
    padding: 50px 0;
  }

  .slick-primary__container {
    max-width: 1200px;
    padding: 50px;
  }

  .slick-primary__content {
    padding: 0 80px 0 0;
  }
}

@media only screen and (min-width: 900px) {
  .slick-primary__wrapper {
    padding: 0 50px;
  }

  .slick-primary__container {
    padding: 30px;
    border-radius: 50px;
  }

  .slick-primary__item {
    grid-template-columns: 350px 2fr;
    column-gap: 40px;
  }

  .slick-primary__content {
    padding: 0 10px 0 0;
  }

  .slick-prev {
    left: -55px;
  }

  .slick-next {
    right: -55px;
  }
}

/* Banner */
.banner {
  background-color: var(--bckg-white);
}

.banner__wrapper {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.banner__container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.banner__container h2 {
  font-weight: 600;
  color: var(--text-white);
}

.banner__container a {
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .banner__wrapper {
    border-radius: 140px 0px 80px 0px;
  }

  .banner__container {
    max-width: 1000px;
    padding: 80px 20px;
  }
}

/* Text and Image */
.text-image__wrapper {
  padding: 0 20px 50px;
  background-color: var(--bckg-white);
}

.text-image__container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-image__grid {
  display: grid;
  gap: 20px;
}

.text-image__item {
  display: grid;
  place-content: center;
}

/* Default */
.default figure img {
  border-radius: 50px 30px 30px 30px;
}

/* Right */
.right.no-box-shadow .text-image__box {
  padding: 0;
  box-shadow: none;
}

.text-image__video {
  display: flex;
  align-items: center;
  width: 580px;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.right figure img {
  border-radius: 0;
}

.text-image__title {
  color: var(--text-primary);
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .text-image__wrapper {
    padding: 0 50px 100px;
  }

  .text-image__box {
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 2px 10px 3px #cccccc;
  }

  .text-image__grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  /* Default */
  .default figure img {
    border-radius: 140px 30px 30px 30px;
  }

  /* Right */
  .right .text-image__item:first-child {
    grid-column: 2 / 2;
    grid-row: 1;
  }
}
