*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primary: #051361;
  --color-secondary: #8b5f54;
  --color-base: #5b616a;
  --color-white: #ffffff;
  --color-white-10: #f5f7f8;
  --color-black: #000000;

  --text-primary: var(--color-primary);
  --text-secondary: var(--color-secondary);
  --text-base: var(--color-base);
  --text-white: var(--color-white);
  --text-white-10: var(--color-white-10);
  --text-black: var(--color-black);

  --bckg-primary: var(--color-primary);
  --bckg-secondary: var(--color-secondary);
  --bckg-base: var(--color-base);
  --bckg-white: var(--color-white);
  --bckg-white-10: var(--color-white-10);
  --bckg-black: var(--color-black);

  --fz-56: 56px;
  --fz-52: 52px;
  --fz-48: 48px;
  --fz-40: 40px;
  --fz-30: 30px;
  --fz-28: 28px;
  --fz-20: 20px;
  --fz-18: 18px;
  --fz-16: 16px;
  --fz-11: 11px;

  --pb-100: 100px;
  --pb-50: 50px;
  --pb-40: 40px;
  --pb-30: 30px;
  --pb-20: 20px;
  --pb-10: 10px;
  --pb-5: 5px;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--text-base);
  line-height: normal;
  letter-spacing: normal;
  background-color: var(--bckg-white);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.h1 {
  font-size: var(--fz-30);
  font-weight: 600;
}

.fz-52 {
  font-size: var(--fz-28);
}

.fz-48 {
  font-size: var(--fz-28);
}

.fz-45 {
  font-size: var(--fz-45);
}

.fz-40 {
  font-size: var(--fz-28);
}

.fz-30 {
  font-size: var(--fz-30);
}

.fz-28 {
  font-size: var(--fz-20);
}

.fz-20 {
  font-size: var(--fz-20);
}

.fz-18 {
  font-size: var(--fz-18);
}

.fz-16 {
  font-size: var(--fz-16);
}

.fz-11 {
  font-size: var(--fz-11);
}

@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: var(--fz-56);
  }

  .fz-52 {
    font-size: var(--fz-52);
  }

  .fz-48 {
    font-size: var(--fz-48);
  }

  .fz-40 {
    font-size: var(--fz-40);
  }

  .fz-28 {
    font-size: var(--fz-28);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: max-content;
  font-size: var(--fz-16);
  font-weight: 400;
  height: 36px;
  padding: 0 18px;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
}

.btn .icon {
  display: flex;
  width: 24px;
}

.btn--primary {
  color: var(--text-white);
  background-color: var(--bckg-primary);
}

.btn--white {
  color: var(--text-primary);
  background-color: var(--bckg-white);
}

@media only screen and (min-width: 1024px) {
  .btn {
    height: 45px;
  }

  .btn .icon {
    width: 28px;
  }
}

/* Spacing */
.pb-100 {
  padding-bottom: var(--pb-50);
}

.pb-50 {
  padding-bottom: var(--pb-50);
}

.pb-40 {
  padding-bottom: var(--pb-30);
}

.pb-30 {
  padding-bottom: var(--pb-30);
}

.pb-20 {
  padding-bottom: var(--pb-10);
}

.pb-10 {
  padding-bottom: var(--pb-10);
}

.pb-5 {
  padding-bottom: var(--pb-5);
}

@media only screen and (min-width: 1024px) {
  .pb-100 {
    padding-bottom: var(--pb-100);
  }

  .pb-40 {
    padding-bottom: var(--pb-40);
  }

  .pb-20 {
    padding-bottom: var(--pb-20);
  }
}

